.hotel_container {
    display: inline-block;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns with equal width */
    gap: 10px;
}

.title_hotel {
    /*height: 50px;
    display: inline-block;
    /*line-height: 10%;*/
    margin-top: 5.75%;
}

.p_hotel {
    text-align: left;
}

@media (min-width: 480px) and (max-width: 800px) {
    .card_container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* 3 columns with equal width */
            gap: 10px;
        }

    .search_bar_bars_container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-right: 5%;
    }
}

@media (max-width: 480px) {
    .card_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* 3 columns with equal width */
        gap: 60px;
    }

    .search_bar_bars_container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-right: 10%;
    }
}