[submodule "universityCodes/Yaşar Üniversitesi/electives/SE 3355 - Web Programming/midterm"]
	path = universityCodes/Yaşar Üniversitesi/electives/SE 3355 - Web Programming/midterm
	url = https://github.com/ecarmu/ecarmu.github.io
