[submodule "Yaşar Üniversitesi/electives/SE 3355 - Web Programming/final"]
	path = Yaşar Üniversitesi/electives/SE 3355 - Web Programming/final
	url = https://github.com/ecarmu/SE3355_FINAL_PROJECT
[submodule "Yaşar Üniversitesi/electives/SE 3355 - Web Programming/midterm"]
	path = Yaşar Üniversitesi/electives/SE 3355 - Web Programming/midterm
	url = https://github.com/ecarmu/ecarmu.github.io
[submodule "Yaşar Üniversitesi/electives/SE 3355 - Web Programming/assignment 2/SE-3355---odev-2"]
	path = Yaşar Üniversitesi/electives/SE 3355 - Web Programming/assignment 2/SE-3355---odev-2
	url = https://github.com/ecarmu/SE-3355---odev-2
