{% extends 'base.html' %}

{% block content %}
        <div class="content">
            <div>
                <h2>Çok Satan Ürünler</h2>
            </div>

        <div class="product-grid">  
           {% for row in rows %}
            <div class="product">
                <a href="/getrec/{{row["product_no"]}}">
                    <div>
                        <img src="{{row['image']}}">
                        <div class="product-title">{{row["name"]}}</div>
                    </div>
                    <div class="product-price">{{row["price"]}} TL</div>
                </a>
            </div>
            {% endfor %}
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var inputBox = document.getElementById('inputBox');

                inputBox.addEventListener('click', function () {
                    inputBox.addEventListener('keydown', function (event) {
                        if (event.keyCode === 13) {
                            window.location.href = 'searchResults.html';
                        }
                    });
                });
                });

                document.addEventListener('DOMContentLoaded', function () {
                        var products = document.querySelectorAll('.product');

                        products.forEach(function (product) {
                        product.addEventListener('click', function () {
                            var productId = product.dataset.productId;

                            window.location.href = '/getrec/' + productId;
                        });
                    });


                        
                        var inputBox = document.getElementById('inputBox');
                        inputBox.addEventListener('click', function () {
                            inputBox.addEventListener('keydown', function (event) {
                                if (event.keyCode === 13) {
                                    window.location.href = 'searchResults.html';
                                }
                            });
                        });
                    });

        </script>

{% endblock content %}