{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h2>ARAMA SONUÇLARI</h2>

    <div class="product-grid">
        {% for result in search_results %}
        <div class="product">
            <a href="/getrec/{{result["product_no"]}}">
                <div>
                    <img src="{{result['image']}}">
                    <div class="product-title">{{result["name"]}}</div>
                </div>
                <div class="product-price">{{result["price"]}} TL</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}