.\.search_bar_bars_container {
    display: flex;
    justify-content: space-between;
}

.search_bar_boxes_container{
    display: flex;
    justify-content: space-around;
}

.search_bar_title {
    text-align: left;
    justify-content: left;
    margin-bottom: 0.75%;
}

.input-container {
    height: 40px;
    display: inline-flex;
    flex: 0.32;
    border: 1px solid var(--egds-outline, var(--egds-legacy-border-color));
    border-radius: 0.5rem;

    --egds-legacy-background-color: #fff;
        --egds-legacy-border-color: #818494;
        --egds-legacy-color: #191e3b;
        -webkit-padding-end: calc(0.75rem - 1px);
        -webkit-padding-start: calc(0.75rem - 1px);
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--egds-surface, var(--egds-legacy-background-color));
        border: 1px solid var(--egds-outline, var(--egds-legacy-border-color));
        border-radius: 0.5rem;
        color: var(--egds-on-surface, var(--egds-legacy-color));
        font-size: 1rem;
        font-weight: 400;
        inline-size: 100%;
        line-height: 1.25rem;
        padding-inline-end: calc(0.75rem - 1px);
        padding-inline-start: calc(0.75rem - 1px);
}


input.custom-input {
    height: 35px;
}

button.searchBarButton {
    /*backgroundColor: '#1668e3', color: 'white', borderRadius: '2500rem', border: 'none', width: "6%", height: '40px'
    }
    }*/
    background-color: #1668e3;
    color: white;
    border-radius: 2500rem;
    border: none;
    width: 6%;
    height: 40px;
}

.search_bar_title span {
    font-size: 25px;
    margin-bottom: 2%;
}

@media (max-width: 800px) {
    .input-container {
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }
    button.searchBarButton {
        width: 50px;
        height: 40px;
        border-radius: 2500rem;
    }
}