    * {
        box-sizing: border-box;
    }
    html,
    body {
        height: 100%;
        margin: 0;
    }
    

    h2{
        font-family: 'source_sans_prosemibold', sans-serif;
        color: #333;
        font-size: 17.5px;
    }
    a{
        text-decoration: none;
        color: #666;
    }
    .container{
        
        height: 100%;
        margin-right: 5%;
        margin-left: 5%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .header{
        display: flex;
        width: 100%;
        height: 5.5%;
        margin-bottom: 1.5%;
    }
    .header-image{
        display: contents;
    }

    form {
        display: flex;
        align-items: center;
        width: 100%;
    }

    form input {
        flex: 1;
        background-color: #f3f3f3;
        border: none;
        border-radius: 0.5%;
        margin-left: 5%;
        padding: 0.5%;
        padding-top: 1%;
        padding-right: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
        font-family: ui-sans-serif;
    }

    form input:focus {
        border: 1px solid #f27a1a;
        background-color: #f3f3f3;
        border-radius: 6px;
        outline: none;
    }

    button{
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2718%27 height=%2718%27 viewBox=%270 0 18 18%27%3E%3Cpath fill=%27%23F27A1A%27 d=%27M18.711 17.306l-4.684-4.703a7.49 7.49 0 0 0 1.864-4.932C15.891 3.441 12.327 0 7.946 0S0 3.441 0 7.671s3.565 7.671 7.946 7.671a8.056 8.056 0 0 0 4.552-1.388l4.72 4.74c.197.197.462.306.746.306.27 0 .525-.1.718-.28a.977.977 0 0 0 .03-1.414zM7.946 2.001c3.238 0 5.873 2.544 5.873 5.67 0 3.127-2.635 5.67-5.873 5.67-3.239 0-5.873-2.543-5.873-5.67 0-3.126 2.634-5.67 5.873-5.67z%27/%3E%3C/svg%3E");
        background-size: 55% 100%;        /* Updated property */
        background-repeat: no-repeat;
        /* Prevent repeating */
        height: 61%;
        width: 30px;
        border: none;
    }

        .content-container{
            background-color: #f3f3f3;
            padding: 0.5%;
        }

        .content{
            background-color: #fffaf6;
            flex: auto;
            height: 100%;
            border-radius: 0.5%;
                border: 1px solid #f2e5da;

            padding-right: 5%;
            padding-left: 5%;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
        }
        
        .product-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2%;
            max-width: 100%;
            /* Adjust as needed */
        }
        .product {
            background-color: #fff;
            border: 1px solid #ddd;
            margin: 0;
            text-align: center;
            transition: transform 0.3s ease-in-out;
            display: grid;
            border-radius: 1.75%;
            align-items: start;
            align-content: center;
            padding: 10%;
            max-height: 100%;
            /* Adjust as needed */
            overflow: hidden;
            /* Hide overflowing content */
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* or object-fit: cover; depending on your preference */
    margin-bottom: 10px;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    max-width: 100%; /* Ensure text doesn't overflow */
    word-wrap: break-word; /* Break words if they are too long */
    overflow-wrap: break-word; /* Break words if they are too long */
}

.product-price {
    color: #f27a1a;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    max-width: 100%; /* Ensure text doesn't overflow */
    word-wrap: break-word; /* Break words if they are too long */
    overflow-wrap: break-word; /* Break words if they are too long */
}


@media (max-width: 920px) {
    .product-title {
        font-size: 12px;
        /* Adjust as needed */
    }

    .product-price {
        font-size: 13.5px;
        /* Adjust as needed */
    }

}

        @media (max-width: 700px) {
            .product-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2%;
                    max-width: 100%;
                    /* Adjust as needed */
                }



            .product-title {
                font-size: 11px;
                /* Adjust as needed */
            }

            .product-price {
                font-size: 13px;
                /* Adjust as needed */
            }
            
        }

        @media (max-width: 648px) {
            .product-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2%;
                max-width: 100%;
                /* Adjust as needed */
            }

            .header {
                display: flex;
                width: 100%;
                height: 5.5%;
                justify-content: space-between;
                margin-bottom: 1.5%;
            }

            .header-image {
                display: none;
            }

            .header {
                display: flex;
                flex-direction: column;
                /* Stack items vertically */
                align-items: stretch;
                /* Stretch items to full width */
            }

            input {
                margin: 1.5% 0;
                /* Adjust margin to add space between input and header edges */
            }

            .product-title {
                font-size: 9px;
                /* Adjust as needed */
            }

            .product-price {
                font-size: 11.5px;
                /* Adjust as needed */
            }

        }

        