.button_container{
    text-align: center;
}

.button_text1 {
    color: #e61e43;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
}

.button_text2 {
    color: black;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
}