.input-container {
    position: relative;
    width: 300px;
    /* Set a specific width for the input container */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    /* Add a smooth transition for the border color */
    border: 1px solid var(--egds-outline, var(--egds-legacy-border-color));
    border-radius: 0.5rem;
}

.clicked {
    border-color: white;
}

input.custom-input {
    border: none;
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url('your-image-url.jpg');
    background-size: 20px;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.uitk-icon {
    width: 20px;
}

#daySelect {
    width: 1%;
    border: none;
}

#monthSelect{
    width: 1%;
    border: none;
}

select#daySelect {
    border: none;
}

select#monthSelect {
    border: none;
}

@media (min-width: 800) {
    .custom-input:first-child {
            border: none;
            flex: 1 1 0%;
            margin-left: 2%;
            margin-top: 2%;
            height: 80%;
        }
}
