.card_container {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns with equal width */
        gap: 10px;
}

/* Style for grid items (optional) */
.card_item {
    padding: 20px;
        border: 1px solid #ddd;
        text-align: center;
}

.uitk-icon uitk-icon-small {
    background-color: #7b1fa2;
    color: #fff;
    font-size: 0.75 rem;
}

.uitk-badge-deal-member {
    background-color: #7b1fa2;
    color: #fff;
}

uitk-badge {
    align-items: center;
    border-radius: 0.25rem;
    display: inline-flex;
    gap: 0.25rem;
    justify-content: center;
    white-space: nowrap;
}


.uitk-badge {
    align-items: center;
    border-radius: 0.25rem;
    display: inline-flex;
    gap: 0.25rem;
    justify-content: center;
    white-space: nowrap;
}