.element {
  width: 50%; /* 50% of the parent element */
  font-size: 80%; /* 80% of the default font size */
  /* Other properties */
}

.container{
    margin-top: 30px;
    margin-bottom: 30px;
}

body{
background-color: #fff;
align-items: flex-start;
padding: 50px;
font-family: quicksand, Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 23px;
}
img {
    max-width: 100%;
        /* Ensures the image doesn't exceed its container width */
        height: auto;
        /* Allows the image to scale proportionally */
        display: block;
        /* Optional: Removes any extra space beneath the image */
}
.slider{
    object-fit: contain;
}
.mid-right{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    text-align: center;
    color: #333;
    flex-direction: row;
    float: right;
}
.mid-right p{
    line-height: 1.5;
}
.top-head {
    display: flex;
    flex-direction: row;
    float: right;
}
.top-head ul li {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    opacity: .8;
}
li {
    display: inline-block;
    margin-right: 10px;
}
.duyurular{
    display: flex;
}
.duyurular ul {
    display: grid;
    background-color: #f5f5f5;
}
.haberler {
    width: fit-content;
    display: flex;
    overflow: auto;
    width: auto;
}
.haberler div {
    margin: 10px;
}

.left {
    display: flex;
}

.left p{
    margin-left: 100px;
}

.right {
    display: flex;
}
.right p{
    margin-left: 100px;
}
.kampüsteNelerOluyor{
    background-image: url("//www.yasar.edu.tr/inc/uploads/2023/10/1-Zemin-Web-Banner-Bilim-Insanlari-2023.png");
}

.etkinlik-top {
    display: flex;
    justify-content: space-between;
}

.etkinlik-mid{
    width: fit-content;
    display: flex;
    overflow: auto;
    width: auto;
}
.etkinlik-mid div p {
    text-align: center;
}
.haberler div {
    margin: 10px;
}
.kampüs-down{
    display: flex;
}
.bottom{
    display: flex;
    background-color: #f5f5f5;
}
.işbirlikleri{
    background-color: steelblue;
    justify-content: space-between;
}
.işbirlikleri div{
    display: flex;
    justify-content: space-between;
}