<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRENDYOL... GREATEST OF THE TURKEY!</title>
    <!-- Linking the external CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/css/content.css">
</head>


<body>
    <div class="container">

        <div class="header">
            <ul>
                <li style="list-style: none;">
                    Anasayfa
                </li>

                {% if row %}
                <li>
                    {% set category_parts = row["category"].split(" ") %}
                    {{ category_parts[0] }}
                </li>
                <li>
                    {{ " ".join(category_parts[1:]) }}
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="product">
            {% if row %}
            <img src="{{ row['image'] }}">
            <div class="product-info">
                <div class="basic-info">
                    <b style="display: inline;">{{ row["name"].split(" ")[0] }}</b> {{ row["name"].split(" ")[1:]|join(" ") }}
                    <div class="product-price">{{ row["price"] }} TL</div>
                </div>
                
                <div class="product-desc">{{ row["description"] }}</div>
            </div>
            
            
            {% else %}
            <p>{{ msg }}</p>
            {% endif %}
        </div>

        <div class="">

        </div>
    </div>

</body>

</html>