.login_container {
    margin: 2% 4% 2% 4%;
    display: flex;
    justify-content: space-between;
}

.login_element_container {
    display: flex;
    justify-content: space-between;
}

.login_element_container {
    display: flex;
    justify-content: space-between;
}

.login_element_container p{
    flex: 0.4;
    margin: 0% 2% 2% 2%;
}

.login_element_container p select{
    flex: 0.6;
    margin: 2% 2% 0% 2%;
    float: right;
}

#checkbox {
    height: 21.6px;
}

.login_element_container input {
    flex: 0.6;
    margin: 2% 2% 0% 2%;
}

.login_element_container button {
    margin: 2% 2% 0% 2%;
}