.title h1 {
    font-size: 2em;
    /* Set the initial font size */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .title h1 {
        font-size: 1.5em;
        /* Set a smaller font size for smaller screens */
    }
}

.upper_container img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.lower_container {
    display: flex;
    background-color: #fff;
    padding: 2.5%;
    padding-top: 1%;
}
.upper_container {
    background-color: #fff;
    padding: 2.5%;
    padding-bottom: 1%;
}

.left_side {
    flex: 1;
}

.left_side div {
    margin-bottom: 1%;
    margin-top: 1%;
}

.right_side {
    flex: 0;
    padding-top: 7.5%;
}

.top .rating {
    display: flex;
}


.top .rating div {
    display: flex;
    align-items: center;
    height: "70%";
    width: "8%";
}

.uitk-layout-flex {
    display: flex;
    
}

ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    /* Adjust the gap as needed */
}

li {
    margin: 0;
    /* Remove default margin */
}

.uitk-icon {
    width: 20px;
    /* Adjust the width as needed */
}

.uitk-icon path {
    /* You can add additional styling for the path if needed */
    font-size: .875rem;
        font-weight: 400;
        line-height: 1.125rem;
}

@media (min-width: 475px) and (max-width: 1000px) {
    .lower_container{
        flex-direction: column;
    }

    .right_side {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 290px) and (max-width: 475px) {
    .lower_container {
        flex-direction: column;
    }

    .right_side {
        display: flex;
        flex-direction: column;
    }

    .iFrame {
        width: 250px;
    }
}

@media (max-width: 290px) {
    .lower_container {
        flex-direction: column;
    }

    .right_side {
        display: none
    }
}
