*{
    font-family: source_sans_proregular, serif;
}

ul {
    list-style: none;
    /* Remove default list style */
    padding: 0;
    /* Remove default padding */
    display: flex;
        /* Use flexbox for better control */
}

ul>li {
    display: inline-block;
    margin-right: 10px;
    /* Optional: Add spacing between list items */
    font-family: source_sans_proregular, sans-serif;;
}
 ul>li:last-child {
     margin-right: 0;
    font-weight: bold;
 }

ul>li:not(:first-child)::before {
    content: ">";
    color: #f27a1a;
    margin-right: 0.5em;
}

.header {
    margin-left: 3.375%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    /*margin-right: 5%;*/
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
    height: 30px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.011%;
    padding-bottom: 2.0111111%;
}


.product{
    display: flex;
    margin-top: 5%;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.9;
    align-items: flex-start;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.container{
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.product-title {
    display: inline-flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.product-price{
    color: #f27a1a;
    font-size: 18px;
    font-weight: bold;
    /*margin-left: 5%;*/
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.product-desc{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

img{
    flex: 0.5;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-top-left-radius: 6.5%;
    border-top-right-radius: 6.5%;
}

.basic-info {
    flex: 0.4;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(151, 151, 151, .2);
}