#root {
    background-color: #F3F3F5;
    margin: 0;
}

.search_result_image img{
    border-radius: 10% 0% 0% 10%;
    overflow: hidden;
    object-fit: contain;
}

.search_result_container {
    background-color: white;
    display: flex;
    padding: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0% 2% 2% 0%;
}

.search_result_image {
    flex: 0.4 1;
    background-color: #F3F3F5;
    block-size: 100%;
}

.search_result_info_container {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    margin: 1.25%;
    justify-content: space-between
}

.search_result_info_container_lower_upper {
    display: block;
    margin-bottom: 1%;
}

.search_result_info_container_lower {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.search_result_info_container_lower_lower {
    display: flex;
    justify-content: space-between;
}

.search_result_info_container_lower_lower.rating {
    display: 'flex';
    align-items: 'center';
    height: "70%";
    width: "8%";
    line-height: 100px;
}

.search_result_info_container_lower_lower.rating span{
    font-weight: 700;
    background-color: "#227950";
    color: "#fff";
    height: "100%";
    width: "100%";
    text-align: "center";
    line-height: 100px;
    border-radius: 10%;
}


.search_result_info_container_lower_lower.details {
    margin-left: "10px";
    font-weight: 400;
}
.search_result_info_image {
    border-radius: 10%;
}

@media (max-width: 820px) and (min-width: 700px) {
    .search_result_container {
        flex-direction: row; 
        border-radius: 0% 2% 2% 0%;
    }

    .search_result_image,
    .search_result_info_container {
        flex: 1 1 100%;
    }
}

@media (max-width: 700px) {
    .search_result_container {
        flex-direction: column;
        border-radius: 0% 0% 2% 2%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        width: fit-content
    }

    .search_result_image,
    .search_result_info_container {
        flex: 1 1 100%;
    }

    .search_result_image img {
        border-radius: 10% 10% 0% 0%;
        overflow: hidden;
        object-fit: contain;
    }
}

.rating {
    display: flex;
    
}

.ratingArea {
    font-weight: 500;
    font-size: 0.75rem;
    background-color: #227950;
    color: #fff;
    height: 100%;
    width: 100%;
    height: 21px;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 10%;
    padding-top: 5%;
}